.main{
    margin-top: 30px;
    min-width: 300px;
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 700px){
    .main {
        max-width: 45%;
    }
}

.inputField {
    width: 75%;
    background-color: wheat;
    box-shadow: rgb(37, 16, 16) 0 8px 15px;
}

.inputField input {
    color: #441e1e;
    font-weight: bold;
    font-size: 20px;
}

.inputField:hover {
    outline: 2px solid wheat;
}

.inputField label {
    font-weight: bold;
    color: #7e3a3a;
    font-size: 20px;
    text-transform: capitalize;
}

