.App {
  width: 90%;
  margin: 0 auto;
}

h1, h2 {
  margin-top: 30px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.link {
  color: #1f9a4b;
  text-decoration: none;
}

.link:hover {
  color: #1ed760;
}

.linkText{
  margin-bottom: 20px;
}